#stations{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    color: #ffffff;
}

#contact{
    margin-left: 50px;
}

#contact h1{
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

#contact a{
    color: #f34b2b;
    text-decoration: none;
}

#contact a:hover{
    color: #f0a191;
    text-decoration: none;

}

iframe{
    padding-top: 30px;
}