/* Custom dialog styling */

.custom-dialog .ui-dialog {
    background-color: #252525;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}

.custom-dialog .ui-dialog-titlebar {
    background-color: #FF4500;
    color: #FFFFFF;
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 0.5em;
}

.custom-dialog .ui-dialog-titlebar-close {
    color: #FFFFFF;
}

.custom-dialog .ui-dialog-content {
    background-color: #252525;
    color: #FFFFFF;
    padding: 1em;
}

.custom-dialog .ui-dialog-buttonpane {
    background-color: #252525;
    border-top: none;
    padding: 1em;
    border-radius: 0 0 10px 10px;
}

.custom-dialog .ui-button {
    background-color: #FF4500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: bold;
}

.custom-dialog .ui-button:hover {
    background-color: #FF6347;
}
