body {
    font-family: Arial, sans-serif;
    color: black;
}
form {
    max-width: 800px;
    min-height: fit-content;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}
input[type="email"], input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#registrationform input[type="tel"]{
    width: 100%;
}
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: #f34b2b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color: #f34b2b;
    color: black;
    font-weight: bold;
}
h2{
    margin-bottom: 20px;
}

.link{
    display: block;
    text-align: center;
    color: black;
}
.link:hover{
    color: #f34b2b;
}